@import 'base.less';
body{
  background-color: #fff;
}
#main{
  // padding: 0 10px;
  /* search input */
  height: 2000px;
  padding-left: 10px;
  padding-right: 10px;
  .search-input{
    padding: 10px 0;
    position: relative;
    
    input[type=search]{
      text-align: left;
      padding: 0 60px 0 10px;
      font-size: 14px;
      background-color: #fff;
      border: 1px solid @main-color; 
      margin-bottom: 0;
    }
    .btn-search{
      position: absolute;
      right: 0;
      top: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: @main-color;
      border: 1px solid @main-color;
    }
  }

  /* 商品列表 */
  .product-list{
    .product-list-title{
      background-color: #eee;
      margin-bottom: 10px;
      .mui-row{
        >div{
          text-align: center;
          >a{
            font-size: 12px;
          }
          &.active{
            >a{
              color: #f40;
            }
          }
        }
      }
    }
    .product-list-body{
      .mui-row{
        >div{
          padding: 0 3px;
          .product{
            box-shadow: 0 0 2px #ccc;
            .product-img{
              display: block;
              width: 100%;
              >img{
                width: 100%;
              }
            }
            .product-name{
  
            }
            .product-price{
  
            }
            .product-buy{
              text-align: center;
            }
          }
        }
      }
    }
  }
}